h3, h4, p{
  margin: 0px;
}
.colorTextMag{
  color: #b9007e ;
}
.colorBlue{
  color: #2c2654;
}

.activity{
  padding: 20px 16px 56px;
  .headerInfo {
    margin-bottom: 22.5px;
  }
  hr{
    border: 0.5px solid #eaeaec;
    margin: 16px 0px;
  }
    /********LISTAS***********/
    .listContent{
      margin: 0px;
      padding: 0px;
      list-style: none;
        li{
            display: flex;
            justify-content: space-between;
            width: 100%; /*añadir el ancho para dar el espaciado entre elementos*/
            margin-bottom: 16px;
        }
        p{
            margin: 0px;
        }
        span{
            font-weight: bold;
        }
    }
}
@media (max-width:650px){
  .activity{
    padding: 20px 16px;
  }
}

