/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.modal-lg {
  width: 100%;
  height: 90%;
  mat-dialog-container {
    overflow: scroll !important;
  }
}
