<div class="container ui-g">
  <div class="ui-g-12 ui-g-nopad advicePage">
    <span><a routerLink="/PortalFFVV/home-gz">Inicio</a> > Ciclo de Nuevas</span>
    <div class="iconHeader ml-1">
      <img src="assets/icons/a-icon-arrow-right.svg" alt="" class="" />
    </div>
  </div>
  <div class="TitlePage ui-g-12 ui-g-nopad">
    <app-retention-title rightTitle="Ir a Ciclo de Nuevas"></app-retention-title>
  </div>
  <!-- <div class="TitlePage ui-g-12 ui-g-nopad">
    <app-retention-title></app-retention-title>
  </div> -->
  <div class="ui-g-12 ui-g-nopad headerSales">
    <h4 class=" sub-nuevas">{{ subTitle }}</h4>
    <app-retention-header></app-retention-header>
  </div>
   <!--  <div class="ui-g-12 subtitle ui-g-nopad">
    <img src="../../../../../assets/icons/woman-consultant.svg" alt="" />
    <h4>Detalle de las consultoras</h4>
  </div>
  <div class="ui-g-12 ui-g-nopad list">
      <app-retention-list></app-retention-list>
  </div> -->
</div>

