<!-- <ui-card typeCard="CardDetail">
  <ui-filter>
    <div class="filter">
      <h4>Segmentos</h4>
      <ul>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> Nuevas (12)</label>
        </li>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> C3</label>
        </li>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> C2</label>
        </li>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> C1</label>
        </li>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> Top</label>
        </li>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> Brilla</label>
        </li>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> PEGs</label>
        </li>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> Inconstantes</label>
        </li>
      </ul>
    </div>
  </ui-filter>
</ui-card> -->
