<div class="searchFilter">
    <div class="infoConsultant">
      <div class="number-consultant">
        <ui-title title="120 Consultoras en total" size="xmd" color="#454549"></ui-title>
        <ui-text text="Mostrando 1-15 de 43" size="md" color="#909094"></ui-text>
      </div>
      <div class="filterMobile ">
        <img src="../../../../../assets/a-icon-filter.svg" alt="" />
        <!-- <label>Filtros</label> -->
        <ui-title title="Filtros" size="md" color="#000000"></ui-title>
      </div>
    </div>
    <ui-find></ui-find>
  </div>
  
