<div class="container">
  <div class="ui-g profile">
    <app-profile-user
      class="user-profile ui-g-6 ui-g-nopad ui-sm-6"
    ></app-profile-user>
    <app-profile-campaign
      class="campaign-profile ui-g-6 ui-g-nopad ui-sm-6"
    ></app-profile-campaign>
  </div>
  <div class="ui-g ui-g-nopad container-cards">
    <ui-title
      title="Revisa y ponte al día"
      size="lg-m"
      color="#000"
      class="ui-g-12 title-cards ui-g-nopad"
    ></ui-title>
    <app-report-campaign
      class="ui-g-4 ui-g-nopad ui-sm-12 margin-right report"
    ></app-report-campaign>
    <app-sales-se class="ui-g-4 ui-g-nopad ui-sm-12 margin"></app-sales-se>
    <app-gain-se class="ui-g-4 ui-g-nopad ui-sm-12 margin-left"></app-gain-se>
  </div>
  <div class="ui-g ui-g-nopad container-cards-down">
    <app-retention-se
      class="ui-g-4 ui-g-nopad ui-sm-12 margin-right"
    ></app-retention-se>
    <app-unete-se class="ui-g-4 ui-g-nopad ui-sm-12 margin"></app-unete-se>
    <!-- <app-road-bright *ngIf="roadBright" class="ui-g-4 ui-sm-12"></app-road-bright> ui-g-4 ui-sm-12
      <app-inspira class="ui-g-4 ui-sm-12"></app-inspira> -->
  </div>
</div>
