<ui-card typeCard="CardDetail">
  <ui-filter>
    <div class="filter">
      <h4>Segmentos</h4>
      <ul>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> Ingresos</label>
        </li>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> Reingresos</label>
        </li>
        <li>
          <input type="checkbox" />
          <label for=""> <span></span> PEGs</label>
        </li>
      </ul>
    </div>
  </ui-filter>
</ui-card>
