<ui-card [backGround]='backGround' class="report">
  <ui-card-header class="title-report">
    <img src='assets/icons/icon-reportecampania.svg' alt='' iconLeft class="icon-card">
    <ui-title [title]='title' size="xmd" [color]="color"></ui-title>
    <img src='assets/icons/a-icon-arrow-right-white.svg' alt='' iconRight class="icon-mobile">
  </ui-card-header>
  <div class="info-card">
    <ui-info>
        <ui-title title='¡Prepararse es clave!' size="md-d" [color]="color" up></ui-title>
        <ui-text text='Ingresa para ver los datos de la sección.' size="md-m" [color]="color" down></ui-text>
    </ui-info>
  </div>
  <button label='Click'>Ingresar</button>
</ui-card>
