<div class="kpisHome">
  <!-- <app-kpis-report-campaign-card class="reportCampaign"></app-kpis-report-campaign-card>
  <app-kpis-sales-and-orders-card class="salesAndOrders"></app-kpis-sales-and-orders-card>
  <app-kpis-collect-and-profit-card class="collectAndProfit"></app-kpis-collect-and-profit-card>
  <app-kpis-cycle-of-news-card class="cycleOfNews"></app-kpis-cycle-of-news-card>
  <app-kpis-join-up-card class="joinUp"></app-kpis-join-up-card>
   -->
  <app-kpis-report-campaign-card></app-kpis-report-campaign-card>
  <app-kpis-sales-and-orders-card></app-kpis-sales-and-orders-card>
  <!-- <app-card></app-card> -->
  <app-kpis-collect-and-profit-card></app-kpis-collect-and-profit-card>
  <app-kpis-cycle-of-news-card></app-kpis-cycle-of-news-card>
  <app-kpis-join-up-card></app-kpis-join-up-card>
</div>
