:root {
  --width-card: 400px;
  --display: inline-block;
  --margin-card: 10px;
}

.ReportCampaign {
  width: var(--width-card);
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
.SalesAndOrders {
  width: var(--width-card);
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
.CollectAndProfit {
  width: var(--width-card);
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
.CycleOfNews {
  width: var(--width-card);
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
.JoinUp {
  width: var(--width-card);
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
.Inspire {
  width: var(--width-card);
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}

.kpisHome {
  padding: 20px;
}
