.CardBody{
  box-shadow: 0 2px 4px 0 #dddde1!important;
  box-sizing: border-box;

  border: 1px solid red;

  border-radius: 4px;
  padding: 10px;
  width: 400px;
}

.CardBodyHeader {
  padding: 5px;
}

.CardBodyContent {
  padding: 5px;
}
