h3{
  margin: 0px;
}
.colorTextMag{
  color:#b9007e;
}
.goalOrder{
  margin-top: 20px;
  padding: 17px 16px;
  .promedy{
    display: flex;
    justify-content: space-between;
    .promedyMeta{
      display: flex;
      img{
        margin-right: 4px;
      }
    }
  }
}

