.headerPage{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2{
    margin: 0px 8px;
  }
  .leftSideContainer, .rightSideContainer{
    display: flex;
    align-items: center;
  }
  .rightSideContainer {
    cursor: pointer;
  }
}
.icon{
  background-color: #fcecc4;
  border-radius: 100%;
  padding: 2px 4px;
}
.textLink{
  font-weight: bold;
  font-size: 12px;
  margin-right: 4px;
}
.iconHeader{
  width: 24px;
  height: 24px;
  display: flex;
  text-align: center;
  border-radius: 4px;
  img{
    margin: auto;
  }
}

.cardCaption{
  border-radius:4px;
  background-color: #fef6e2;
}
.whiteBack{
  background-color: #fff;
}
.bodyBack{
  background-color: #f6f7fb;
}
@media (max-width:650px){
  .headerPage{
    .rightSideContainer{
      display: none;
    }
  }

}
