<div class="headerPage">
  <div class="leftSideContainer">
    <div class="icon mr-1">
      <img src="assets/icons/a-icon-salesandorder.svg" alt="" />
    </div>
    <ui-title [title]="leftTitle" size="xlg" [color]="color"></ui-title>
  </div>
  <div class="rightSideContainer" (click)="redirect()">
    <ui-title [title]="rightTitle" size="sm" color="#333333" class="mr-1"></ui-title>
    <div class="iconHeader bodyBack ml-1">
      <img src="assets/icons/a-icon-arrow-right.svg" alt="" class="" />
    </div>
  </div>
</div>
