<div class="container ui-g">
  <div class="ui-g-12 ui-g-nopad advicePage">
    <span><a routerLink="/PortalFFVV/home-se">Inicio</a> > Ciclo de Nuevas</span>
  </div>
  <div class="TitlePage ui-g-12 ui-g-nopad">
    <app-retention-title></app-retention-title>
  </div>
  <div class="ui-g-12 ui-g-nopad headerSales">
    <app-retention-header></app-retention-header>
  </div>
  <div class="ui-g-12 subtitle ui-g-nopad">
    <img src="../../../../../assets/icons/woman-consultant.svg" alt="" />
    <h4>Detalle de las consultoras</h4>
  </div>
  <div class="ui-g-12 ui-g-nopad list">
      <app-retention-list></app-retention-list>
  </div>
  <!-- <div class="ui-g-3 filter-retention ui-g-nopad">
    <app-retention-filter></app-retention-filter>
  </div> -->
  <!-- <div class="ui-g-9 ui-sm-12 ui-g-nopad list">
    <app-retention-find></app-retention-find>
    <app-retention-list></app-retention-list>
  </div> -->
</div>
