/*{
    outline: 1px solid rgba(0,255,0,0.5);
}*/
.container{
    max-width: 1170px;
    margin: auto;
    font-family: Lato,sans-serif;
    position: relative;
  
    .TitlePage{
        box-sizing: border-box;
        border-radius: 4px;
        //padding: 16px;
        background: #fff;
    }
    .advicePage{
          font-size: 12px;
          color: #909094;
          letter-spacing: 0.5px;
          font-weight: bold;
          margin-top: 104px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom:24px;
    }
    .list{
        //padding-left:30px;
    }
    .subtitle{
        display: flex;
        margin: 56px 0px 12px 0px;
        align-items: center;
        img{
            margin-right: 4px;
            width: 32px;
            height: 32px;
        }
    }
    h4{
        margin: 0px;
    }
    .headerSales{
       // margin-top: 40px;
    }
    .iconHeader{
      width: 24px;
      height: 24px;
      display: flex;
      text-align: center;
      border-radius: 4px;
      display: none;
      img{
        margin: auto;
      }
    }
  }
  
  @media (max-width:650px){
      .filter-retention{
          display: none;
      }
      .container{
        padding: 0px 12px;
          .headerSales{
              //margin-top: 20px;
            
          }
          .TitlePage{
              background: none;
          }
          .iconHeader{
              display: flex;
              background-color: #eeeff4;
          }
          .advicePage{
              //padding: 0px 12px;
              margin-top: 88px;
              margin-bottom: 16px;
          }
          .list{
              padding-left: 0px;
          }
          .subtitle{
            margin: 24px 0px 0px 0px;
          }
          .subtitle{
              img{
                  width: 24px;
                  height: 24px;
              }
          }
      }
  }