<div class="headerPage">
  <div class="leftSideContainer">
    <div class="icon mr-1">
      <img src="assets/icons/a-icon-ganancia.svg" alt="" />
    </div>
    <ui-title [title]="title" [size]="size" [color]="color"></ui-title>
  </div>
  <div class="rightSideContainer" (click)="redirect()">
    <ui-title title="Ir a Ciclo de Nuevas" size="sm" color="#333333" class="mr-1"></ui-title>
    <div class="iconHeader bodyBack ml-1">
      <img src="assets/icons/a-icon-arrow-right.svg" alt="" class="" />
    </div>
  </div>
</div>
