.Header {
  background: #b52f31;
  margin-bottom: 1.45rem;
  color: #fff;

  .Content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
  }
}
