<div class="container ui-g">
  <div class="ui-g-12 ui-g-nopad advicePage">
    <span><a routerLink="/PortalFFVV/home-se">Inicio</a> > Venta y Pedidos</span>
    <div class="iconHeader ml-1">
        <img src="assets/icons/a-icon-arrow-right.svg" alt="" class="" />
    </div>
  </div>
  <div class="TitlePage ui-g-12 ui-g-nopad">
    <app-sales-title></app-sales-title>
  </div>
  <div class="ui-g-12 ui-g-nopad headerSales">
    <h4 class="mb-2">{{ message }}</h4>
    <app-sales-header-se></app-sales-header-se>
  </div>
  <div class="ui-g-12 subtitle ui-g-nopad">
    <img src="../../../../../assets/icons/woman-consultant.svg" alt="" />
    <h4>Consultoras de la sección</h4>
  </div>
  <div class="ui-g-12 ui-sm-12 ui-g-nopad list">
    <app-sales-list></app-sales-list>
  </div>
</div>
