@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>angular</title>
    @Styles.Render("~/Content/Styles")
</head>
<body>
    <div>
        <app-root></app-root>
    </div>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>