<footer>
  <div class="container">
    <div class="menuFooter" *ngFor = 'let menuFooter of menuFooterList'>{{ menuFooter.description }}</div>
  </div>
  <div class="Footer">
    © {{ year }}, Built with&nbsp;
    <a href="https://angular.io/">Angular</a>
  </div>
</footer>
<!-- <div class="container">
  <div class="menuFooter">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let menuFooter of menuFooterList;'>
          <td>{{ menuFooter.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->








