<footer class="Footer">
  <div class="container MenuFooterContainer">
    <div class="MenuFooter" *ngFor = 'let menuFooter of menuFooterList'>
      <h4>{{ menuFooter.description }}</h4>
      <ul class="SubMenuFooter">
        <li *ngFor = 'let subMenuFooter of subMenuFooterList'></li>
      </ul>
    </div>
  </div>
  <div class="">
    © {{ year }}, Built with&nbsp;
    <a href="https://angular.io/">Angular</a>
  </div>
</footer>
<!-- <div class="container">
  <div class="menuFooter">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let menuFooter of menuFooterList;'>
          <td>{{ menuFooter.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->








